<!DOCTYPE html>
<html lang="en">

<head>
    <title>IA project backend</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="IA project backend">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
    <main role="main">
        <div class="main-container">
            {{{body}}}
        </div>
    </main>
</body>